<h1> Update your Workout:</h1>
<br><br>
<form action="/workouts/<%= @workout.id %>" method="POST">
  <h2> Edit a category below: </h2>
  <input type="hidden" name="_method" value="patch">
  <% ["arms", "abs", "back", "legs", "chest", "full body"].each do |element| %>
    <input type="radio" name="category" value="<%= element.capitalize %>"> <%= element.capitalize %> <br>
  <% end %>
<br><br>
  <% (0..120).step(15) do |n| %>
  <% unless n == 0 || n == 75 || n == 105 %>
    <input type="radio" name="duration" value="<%= n %>"> <%= "#{n} minutes"%><br>
  <% end %>
  <% end %>
  <br><br>
  <input type="submit" name="" value="Save Changes">
</form>
