<h2>Here are your workouts:</h2>
<p><strong> Today's workout: </strong></p>
<p>Category: <%= @workout.category %></p>
<p>Duration: <%= @workout.duration %> minutes</p>
<br><br>
<% if current_user == @workout.user %>
  <a href="/workouts/<%= @workout.id %>/edit">Edit Category</a>
<br><br>
<form class="" action="/workouts/<%= @workout.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Category">
</form>
<% end %>

<br><br>
<h2>Log what you did today:</h2>
<br><br>
<form action="/exercises" method="POST">
 <input type="hidden" name="workout_id" value="<%= @workout.id %>">
 <p>What move did you do?: <input type="text" name="move" placeholder="bicep curls"></p>
 <p>How many sets?: <input type="integer" name="sets" placeholder="3">sets</p>
 <p>How many reps?: <input type="integer" name="reps" placeholder="10">reps</p>
 <p>What weight did you use?: <input type="integer" name="weight" placeholder="35">pounds</p>
 <p>Completed Date?: <input type="datetime" name="day" placeholder="March 3rd">2019</p>
 <p>Intensity:
 <input type="radio" name="intensity" value="Easy">Easy
 <input type="radio" name="intensity" value="Medium">Medium
 <input type="radio" name="intensity" value="Hard">Hard</p>
 <input type="submit" value= "Create New Workout">
</form>
