<h1>All Completed Exercises!</h1>
<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: square;
}
</style>
</head>
<body>
  <br><br>
  <p><a href="/workouts/new">Add</a> a new workout!
  <br><br>
<% @exercises.each do |exercise| %>
  <h4>Completed on: <a href= "/exercises/<%= exercise.id %>"><%= exercise.day %></a></h4>
<ul>
  <li>Category: <%= exercise.workout.category %></li>
  <li>Duration: <%= exercise.workout.duration %> minutes</li>
  <li>Move: <%= exercise.move %></li>
  <li>Sets: <%= exercise.sets %> sets </li>
  <li>Reps: <%= exercise.reps %> reps</li>
  <li>Weight: <%= exercise.weight %> pounds</li>
  <li>Intensity: <%= exercise.intensity %></li>
  <br><br>
  <li><i>// Entered by: <%= exercise.workout.user.name %></i></li>
  <li>-----------------------------------------------</li>
  <br><br>
</ul>
  <br><br>
<% end %>
</body>
</html>
