<!DOCTYPE html>
<html>
<body>
<h1>All Completed Exercises!</h1>

<style>
p {
  border-style: solid;
  border-width: medium;
}
</style>

<% @exercises.each do |exercise| %>
  <h4><a href= "/exercises/<%= exercise.id %>"><%= exercise.formatted_created_at_time %></a></h4>
  <br><br>
  <p>Completed on: <%= exercise.day %></p>
  <p>Completed <%= exercise.reps %> reps</p>
  <p>Used <%= exercise.weight %> pounds</p>
  <p>Intensity: <%= exercise.intensity %></p>
  <br><br>
<% end %>

</body>
</html>
