<!DOCTYPE html>
<html>
<head>
<h1>All Completed Exercises!</h1>
<style>
ul {
  list-style-type: square;
}
</style>
</head>
<body>
<% @exercises.each do |exercise| %>
  <h4><a href= "/exercises/<%= exercise.id %>"><%= exercise.formatted_created_at_time %></a></h4>
<ul>
  <li><strong><%= exercise.day %>:</strong></li>
  <li>Completed <%= exercise.move %></li>
  <li>Completed <%= exercise.sets %> sets </li>
  <li>Completed <%= exercise.reps %> reps</li>
  <li>Used <%= exercise.weight %> pounds</li>
  <li>Intensity: <%= exercise.intensity %></li>
  <li>-----------------------------------------------</li>
  <br><br>
</ul>
  <br><br>
<% end %>
</body>
</html>
