<h2>Add Today's Workout!</h2>
<br><br>
<h4>Log Completed Workout Below:</h4>
<form action="/exercises" method="POST">
<br><br>
 <p>What move did you do?: <input type="text" name="move" placeholder="bicep curls" value= "<%= @exercise.move %>" required></p>
 <p>How many sets?: <input type="number" name="sets" placeholder="3" value= "<%= @exercise.sets %>" required></p>
 <p>How many reps?: <input type="number" name="reps" placeholder="10" value= "<%= @exercise.reps %>" required></p>
 <p>What weight did you use?: <input type="number" name="weight" placeholder="35" value= "<%= @exercise.weight %>" required></p>
 <p>Completed Date?: <input type="date" name="day" placeholder="March 3 2019" value= "<%= @exercise.day %>" required></p>
 <p>Intensity:
 <input type="radio" name="intensity" value="Easy">Easy
 <input type="radio" name="intensity" value="Medium">Medium
 <input type="radio" name="intensity" value="Hard">Hard</p>
 <input type="submit" value= "Create New Workout">
</form>
