<h2>Here is your list of completed workouts!</h2>
<br><br>
  <li><%= @exercise.day %>:</li>
  <li><%= @exercise.workout.category %></li>
  <li>Move: <%= @exercise.move %></p>
  <li>Completed sets: <%= @exercise.sets %></li>
  <li>Completed reps: <%= @exercise.reps %></li>
  <li>Weight used: <%= @exercise.weight %></li>
  <li>Intensity: <%= @exercise.intensity %></li>
<% if current_user == @exercise.workout.user %>
  <a href="/exercises/<%= @exercise.id %>/edit">Edit Exercise</a>
<br><br>
<form class="" action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Exercise">
</form>
<% end %>
