<center><h2><u>Here's Today's Completed Exercises!</h2></u>
<br><br>
  <li><strong><%= @exercise.day %></strong></li>
  <li>Category: <%= @exercise.workout.category %></li>
  <li>Duration: <%= @exercise.workout.duration %> minutes</li>
  <li>Move: <%= @exercise.move %></li>
  <li>Completed sets: <%= @exercise.sets %></li>
  <li>Completed reps: <%= @exercise.reps %></li>
  <li>Weight used: <%= @exercise.weight %> pounds</li>
  <li>Intensity: <%= @exercise.intensity %></li>
  <li><i>Entered by: <%= @exercise.workout.user.name %></i></li>
  <br><br>
<% if current_user == @exercise.workout.user %>
  <a href="/exercises/<%= @exercise.id %>/edit">Edit Exercise</a>
<br><br>
<form class="" action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Exercise"><br><br>
</form>
<% end %>
