<h1>Here are your exercises</h1>

<p>Completed on: <%= @exercise.day %></p>
<p>Completed reps:<%= @exercise.reps %></p>
<p>Weight used:<%= @exercise.weight %></p>
<p>Intensity: <%= @exercise.intensity %></p>
<% if current_user == @exercise.workout.user %>
  <a href="/exercises/<%= @exercise.id %>/edit">Edit Exercise</a>
<br><br>
<form class="" action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Exercise">
</form>
<% end %>
